/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6,p,hr,ul,li,a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Ibarra Real Nova', serif,'Public Sans', sans-serif;
  background-color: #fafafa;
}

img {
  max-width: 100%;
  height: auto;
}
.btn{
  @include btn;
}
